
<%- include("partials/header"); -%>
    <h1 class="center">All Articles</h1>
    <hr>
  <%  posts.forEach(function(post){ %>
    <article class="center">
      <h3><%=post.title.toUpperCase()%></h3>
      <pre>
      <%=post.content.substring(0, 100) + "..."%>
      <a href="/posts/<%=post.id%>" class="btn btn-primary" style="color: white; margin-top: 2rem;">Read More</a>
      </pre> 
    </article>

    <% }) %>


<%- include("partials/footer"); -%>
